$btnBGColor:#FF4E50;
$btnTxtColor:#FF4E50;
$iconMusicBG:#FF4E50;
$iconCameraBG: #FFA710;
$iconBrushBG:#19D4CA;
$iconAirplanehBG:#667DF3;
$textColorWhite:#ffffff;
$textTitleColor: #444444;
$txtColor: #666666;
$txtColor9: #999999;

$btnBDRadius: 40px;
$imgRadius: 4px;